[Unit]
Description=Autorun GUI payload

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
Environment=QT_QPA_PLATFORM=offscreen
Environment=JACK_NO_AUDIO_RESERVATION=1
User=pi
Group=pi
ExecStartPre=/bin/sleep 10
ExecStart=/opt/sonic-pi/bin/sonic-pi /home/pi/autorun.rb
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
