[Unit]
Description=Start GUI Payload

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
User=pi
Group=pi
ExecStartPre=/bin/sleep 30
ExecStart/usr/bin/plugdata /home/pi/init.pd
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
