[Unit]
Description=vcpi headless host
After=sound.target

[Service]
Environment=JACK_NO_AUDIO_RESERVATION=1
Environment=LOG_LEVEL=DEBUG
User=pi
Group=pi
WorkingDirectory=/home/pi/vcpi
RuntimeDirectory=vcpi
ExecStartPre=/bin/sleep 10
ExecStart=/home/pi/vcpi/venv/bin/python /home/pi/vcpi/main.py serve --sock /run/vcpi/vcpi.sock
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
